* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    min-height: 100vh;
    background-image: linear-gradient(white 0%, rgb(96, 96, 235) 50%, white 100%);
    position: relative;
}

h1,
.portfolio-block,
.portfolio-block-options
{
    text-align: center;
}

.portfolio-block {
    word-break: break-all;
    user-select: none;
    display: inline-block;
    font-size: 16px;
    padding: 5px;
    border: solid 1px black;
    width: 75%;
    margin: 1px 2.5%;
}

.portfolio-block-options {
    user-select: none;
    display: inline-block;
    font-size: 16px;
    padding: 5px;
    border: solid 1px black;
    width: 12.5%;
    margin: 1px;
}

.portfolio-block:hover,
.portfolio-block-options:hover {
    background-color: aliceblue;
    cursor: crosshair;
}

.portfolio-block:active,
.portfolio-block-options:active {
    box-shadow: 1px 1px black;
}


.container {
    -webkit-app-region: drag;
    display: flex;
    flex-direction: row;
}

nav {
    background-color: rgb(51, 46, 46);
}

ul, 
li {
    list-style: none;
}

ul li, 
li { 
    display: block;
    -webkit-app-region: none;
    padding: 10px;
    /* border: 1px solid red; */
    color: rgb(189, 184, 184);
}

ul li:hover, 
li:hover {
    background-color: rgb(116, 116, 116);
    cursor: crosshair;
    user-select: none;
}

.ml-auto {
    margin-left: auto;
}

.hover-red:hover {
    background-color: rgb(201, 16, 16);
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner  {
    background-color: rgb(51, 46, 46);
}


::-webkit-scrollbar-thumb {
    background-color: rgb(80, 76, 76);

}

@media only screen and ( max-width: 478px ) {
    .portfolio-block-options,
    .portfolio-block {
        display: block;
        width: 50%;
        margin: 0 auto;
    }
}