* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family:  "Brush Script MT", "cursive", "Brush Script Std", "Roundhand";
    font-size: 20px;
    position: relative;
}

.bg {
    -webkit-app-region: drag;
    background-image: url('../assets/paper.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.portfolio-container {
    position: absolute;
    z-index: -1;
}

textarea, 
input[type="text"] {
    display: block;
    margin: 15px auto;
    -webkit-app-region: none;
    font-size: 1.5rem;
    outline: none;
    background: transparent;
    resize: none;
    width: 75%;
    font-weight: 700;
    border: none;
    word-break: break-all;
}

div {
    -webkit-app-region: none;
}

.invisible {
    display: none;
}

.mx-auto {
    display: block;
    text-align: center;
    margin: 0 auto;
}

.font-size--30 {
    font-size: 30px
}

.scroll {
    padding: 20px;
    margin: 15px 5%;
    overflow-y: scroll;
    max-height: 50%;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.hider {
    margin-top: 2px;
    background-color: aliceblue;
    cursor: pointer;
    border: 1px black solid;
    text-align: center;
}

.hider-content {
    background-color: grey;
    cursor: default;
}

.bold {
    font-weight: bold;
}